<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Image processing API - Home</title>
    <link href="../public/styles.css" rel="stylesheet" />
  </head>
  <body>

    <div class="topnav">
      <a href="/">Home Page</a>
      <a href="/resize?w=400&h=400"> Resized images 400*400</a>
    </div>

    <% if ( data.length > 0 ) { %>
    <div id="image-container">
      <% data.forEach((img) => { %>
      <img class="resized-image" src="public/images/<%= img %>" />
      <% }); %>
    </div>
    
    <% } else { %>

    <div class="noParameters">
      <h3>Oops!</h3>
      <p>Currently no image to display, please make sure to enter the url as below.</p>
    </div>

    <% } %>
    <div class="footer">Copyright ©2022. All rights reserved.</div>
  </body>
</html>
