<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Image processing API - Page not found</title>
    <link href="../public/styles.css" rel="stylesheet" />
  </head>
  <body>

    <div class="topnav">
      <a href="/">Home Page</a>
      <a href="/resize?w=400&h=400"> Resized images 400*400</a>
    </div>

  <p>The page you are looking for does not exist on the website or the url is broken!</p>
  <div class="page-not-found"> </div>
  
  <div class="footer">Copyright ©2022. All rights reserved.</div>
 </body>
</html>
